<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LSIF TypeScript</title>
    <link href="https://lsif-storage-1255554094.cos.ap-guangzhou.myqcloud.com/normalize.css" rel="stylesheet" />
    <link href="https://lsif-storage-1255554094.cos.ap-guangzhou.myqcloud.com/blueprint.css" rel="stylesheet" />
</head>

<style>
    .container {
        padding: 15px;
        user-select: none;
    }
</style>

<body>
    <div class="container">
        <div class="main-body bp3-form-group .modifier">
            <label class="bp3-label" for="form-group-input">
                启用/禁用部分特性
                <span class="bp3-text-muted">(默认启用全部)</span>
            </label>
            <div class="bp3-form-content">
                <label class="bp3-control bp3-checkbox .modifier">
                    <input class="coding-checkbox" data-type="enable" type="checkbox" :modifier />
                    <span class="bp3-control-indicator"></span>
                    禁用所有特性
                </label>
                <div class="divider bp3-menu-divider"></div>
                <label class="bp3-control bp3-checkbox .modifier">
                    <input class="coding-checkbox" data-type="codingEnterprise" type="checkbox" :modifier />
                    <span class="bp3-control-indicator"></span>
                    CODING 企业版(有限)
                </label>
                <label class="bp3-control bp3-checkbox .modifier">
                    <input class="coding-checkbox" data-type="gitHub" type="checkbox" :modifier />
                    <span class="bp3-control-indicator"></span>
                    GitHub
                </label>
                <label class="bp3-control bp3-checkbox .modifier">
                    <input class="coding-checkbox" data-type="documentSymbol" type="checkbox" :modifier />
                    <span class="bp3-control-indicator"></span>
                    符号树跳转
                </label>
                <label class="bp3-control bp3-checkbox .modifier">
                    <input class="coding-checkbox" data-type="hoverAction" type="checkbox" :modifier />
                    <span class="bp3-control-indicator"></span>
                    Hover 显示详情
                </label>
                <label class="bp3-control bp3-checkbox .modifier">
                    <input class="coding-checkbox" data-type="gotoDefinition" type="checkbox" :modifier />
                    <span class="bp3-control-indicator"></span>
                    跳转到定义
                </label>
            </div>
        </div>
    </div>
    <script src="../out/options.js"></script>
</body>

</html>