.lsif-ts-ext-textdocument-symbols-container {
    position: fixed;
    right: 0px;
    top: 50%;
    margin: -15% 0 0 0;
    padding: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    max-height: 50%;
    overflow-y: auto;
    font-size: 12px;
    user-select: none;
    max-width: 300px;
    width: 300px;
    z-index: 100;
    font-family: "SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace";
}

.lsif-ts-ext-textdocument-symbols-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    padding-right: 2px;
    background-color: #ccc;
}

.lsif-ts-ext-textdocument-symbols-container::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #999;
}

.lsif-ts-ext-textdocument-symbols-container::-webkit-scrollbar-button {
    display: none;
}

.lsif-ts-ext-textdocument-symbols-container li {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 0px 5px;
    cursor: pointer;
}

.lsif-ts-ext-symbol-link {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

.lsif-ts-ext-symbol-children {
    width: 100%;
}

.lsif-ts-ext-symbol-children li {
    box-sizing: border-box;
    border-left: 1px solid transparent;
    transition: border-left ease-in 0.1s;
}

.lsif-ts-ext-symbol-children:hover li {
    border-left: 1px solid #ccc;
}

.lsif-ts-ext-symbol-children li:hover::after {
    background-color: #e8e8e8;
}

.lsif-ts-ext-symbol-children li:after {
    width: 100%;
    height: 22px;
    left: 0px;
    content: '';
    z-index: -1;
    position: absolute;
}

.lsif-tsc-outer-li:hover {
    background-color: #e8e8e8;
}

.lsif-ts-ext-hover-detail-container {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0px;
    font-size: 12px;
    line-height: 1;
    overflow: auto;
    white-space: initial;
    font-family: "SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace";
}

.lsif-ts-ext-highlight-target {
    background-color: wheat;
}

.lsif-ts-ext-hover-title {
    line-height: 22px;
    padding: 0px 5px;
    width: 100%;
}

.lsif-ts-ext-hover-detail {
    border-top: 1px solid #ccc;
    line-height: 1;
    white-space: pre-wrap;
    width: 100%;
    overflow-x: auto;
    padding: 5px 5px 0px 5px;
}

.lsif-ts-ext-hover-detail p {
    padding: 0px;
    margin: 0px;
}

.lsif-ts-ext-underlint-target {
    text-decoration: underline;
    text-decoration-color: cyan;
}
