.lsif-ts-ext-textdocument-symbols-container {
    position: fixed;
    right: 0px;
    top: 50%;
    margin: -15% 0 0 0;
    padding: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    max-height: 50%;
    overflow-y: auto;
    font-size: 12px;
    user-select: none;
    max-width: 300px;
    width: 300px;
    font-family: "SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace";
}

.lsif-ts-ext-textdocument-symbols-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    padding-right: 2px;
    background-color: #ccc;
}

.lsif-ts-ext-textdocument-symbols-container::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #999;
}

.lsif-ts-ext-textdocument-symbols-container::-webkit-scrollbar-button {
    display: none;
}

.lsif-ts-ext-textdocument-symbols-container li {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 0px 5px;
    cursor: pointer;
}

.lsif-ts-ext-symbol-link {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

.lsif-ts-ext-symbol-children {
    width: 100%;
}

.lsif-ts-ext-symbol-children li {
    padding-left: 24px;
    width: 100%;
}

.lsif-ts-ext-textdocument-symbols-container li:hover {
    background-color: #e8e8e8;
}

.lsif-ts-ext-hover-detail-container {
    position: absolute;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    overflow: auto;
    max-width: 350px;
    font-family: "SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace";
}

.lsif-ts-ext-hover-detail-container .lsif-ts-ext-hover-detail-description {
    color: cadetblue;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    max-width: 350px;
    white-space: pre-line;
}

.lsif-ts-ext-highlight-target {
    background-color: wheat;
}

.lsif-ts-ext-hover-detail-mdstring {
    line-height: 1;
    margin-top: 5px;
    white-space: pre-wrap;
    max-width: 500px;
    overflow-x: auto;
}
